[Unit]
Description=uWSGI Python container for Pythia
After=network.target

[Service]
User=pythia_user
Group=www-data
WorkingDirectory=/opt/pythia/server
Environment="PATH=/opt/pythia/server/venv/bin"
ExecStart=/opt/pythia/server/venv/bin/uwsgi --ini pythia_api.ini

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
